<h1>Signup to Let the World Know About Your Favorite Pizza Places!</h1>
<h2>Please Enter a Username and Password</h2>

<p><%= @error %></p>
<form action='/signup' method="post">
   <input type="text" name="username">
   <input type="password" name="password">
   <input type="submit" value="Sign Up">
</form> 