<h1><%= @place.title %></h1>
<p><%= @place.description %></p>
<img src="<%= @place.image %>" alt="tremendous pizza image">

<% if @place.user && session[:user_id] == @place.user.id %>

<form action="/places/<%= @place.id %>" method="post">
     <input type="hidden" name="_method" value="delete">
     <button type="submit">Delete Pizza Place</button>
</form>
<% end %>